@model BreakAway.Models.Contacts.AddViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Add Contact</h2>

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p style="font-style:italic">@ViewBag.message</p>
}

<button>@Html.ActionLink("Go Back", "Index", "Contacts")</button>

@using (Html.BeginForm("Add", "Contacts", FormMethod.Post))

{
    @Html.AntiForgeryToken();
    <fieldset style="margin:15px 0;">
        <legend>Customer Information</legend>
        <div>
            @Html.LabelFor(p => p.FirstName, labelText: "First name: ")
            @Html.TextBoxFor(p => p.FirstName)
        </div>
        <div>
            @Html.LabelFor(p => p.LastName, labelText: "Last name: ")
            @Html.TextBoxFor(p => p.LastName)
        </div>
        <div>
            @Html.LabelFor(p => p.Title, labelText: "Title: ")
            @Html.TextBoxFor(p => p.Title)
        </div>
        <input style="margin:15px 0;" value="Save" type="submit" />
    </fieldset>
}

